:root {
  --color-background: #fbf7f3;
  --color-surface: #fffdfc;

  --color-primary: #cfa7a8;
  --color-primary-dark: #9b6f73;

  --color-secondary: #9baa98;
  --color-secondary-dark: #59665a;

  --color-gold: #c5a979;

  --color-text: #3e3a39;
  --color-text-light: #817777;

  --color-border: #e9deda;

  --font-display: "DM Serif Display", serif;
  --font-body: "Manrope", sans-serif;

  --container-width: 1120px;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 7rem;

  --radius-sm: 8px;
  --radius-md: 18px;
  --radius-lg: 28px;
}